# Prac 3:Program to extract features from text

In [1]:
#defining a corpus
messages = ["Hey hey hey lets go get lunch today :)",
           "Did you go home?",
           "Hey!!! I need a favor"]

# CountVectorizer

In [2]:
from sklearn.feature_extraction.text import CountVectorizer
vect = CountVectorizer()

In [3]:
vect.fit(messages)

CountVectorizer()

In [4]:
vect.get_feature_names()

['did',
 'favor',
 'get',
 'go',
 'hey',
 'home',
 'lets',
 'lunch',
 'need',
 'today',
 'you']

In [5]:
dtm = vect.transform(messages)
repr(dtm)

"<3x11 sparse matrix of type '<class 'numpy.int64'>'\n\twith 13 stored elements in Compressed Sparse Row format>"

In [7]:
print(dtm)

  (0, 2)	1
  (0, 3)	1
  (0, 4)	3
  (0, 6)	1
  (0, 7)	1
  (0, 9)	1
  (1, 0)	1
  (1, 3)	1
  (1, 5)	1
  (1, 10)	1
  (2, 1)	1
  (2, 4)	1
  (2, 8)	1

In [8]:
import pandas as pd
pd.DataFrame(dtm.toarray(), columns=vect.get_feature_names())

   did  favor  get  go  hey  home  lets  lunch  need  today  you
0    0      0    1   1    3     0     1      1     0      1    0
1    1      0    0   1    0     1     0      0     0      0    1
2    0      1    0   0    1     0     0      0     1      0    0

# TfidfVectorizer

In [9]:
from sklearn.feature_extraction.text import TfidfVectorizer
def createDTM(messages):
    vect = TfidfVectorizer()
    dtm = vect.fit_transform(messages) # create DTM
    
    # create pandas dataframe of DTM
    return pd.DataFrame(dtm.toarray(), columns=vect.get_feature_names())

In [10]:
createDTM(messages)

,did,favor,get,go,hey,home,lets,lunch,need,today,you
0,0.000000,0.000000,0.319699,0.24314,0.729419,0.000000,0.319699,0.319699,0.000000,0.319699,0.000000
1,0.528635,0.000000,0.000000,0.40204,0.000000,0.528635,0.000000,0.000000,0.000000,0.000000,0.528635
2,0.000000,0.622766,0.000000,0.00000,0.473630,0.000000,0.000000,0.000000,0.622766,0.000000,0.000000